.personal-buyer {
  display: block;
  width: 100%;
}

.address-buyer {
  display: block;
  width: 100%;
}

.dp {
  margin-top: 20px;
}

.dd {
  margin-top: 20px;
}

.field {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1024px){
  .personal-buyer {
    display: inline-flex;
  }

  .address-buyer {
    display: inline-flex;
  }

  .field {
    margin-left: 0px;
  }
}