.dpo-container {
  background-color: rgb(184, 235, 164); 
  margin-bottom: '20px';
  width: 600px;
  margin-left: 5%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  border: solid green;
  font-size: 15px;
  font-weight: 600;
  margin-left: calc(50% - 300px)
}

.dpo-title {
  font-size: 20px;
}

@media (max-width: 700px){
  .dpo-container {
    width: 90%;
    margin-left: 5%;
  }
}