.logo {
  width: 100px;
}

.mobile {
  display: none;
}

@media (max-width: 1024px){
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 0px;
  }
} 

@media (max-width: 500px){
  .logo{
    display: none;
  }
}
 