.ls-main-container {
  position: fixed;
  bottom: 0; 
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px; 
  width: 70px; 
  height: 70px; 
  background-color: white;
  border-radius: 10px;
  border: solid black;
  border-width: medium;
}

.ls-text {
  text-align: center;
}

.ls-btn {
  text-align: center;
}

.mobile {
  display: none;
}

@media (max-width: 1024px){

  .ls-main {
    margin-top: 150px;
  }

  .ls-main-container {
    display: none
  }

  .mobile {
    display: block;
    text-align: center;
    margin-top: 60px;
    font-weight: bolder;
    color: blue;
    margin-top: 150px;
  }

}