.logo-login {
  width: 500px;
  margin-left: calc(50% - 250px);
  border-radius: 20px;
  margin-bottom: 20px;
}

.login-container {
  background-color: white;
  margin-top:30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  width: 550px;
  margin-left: calc(50% - 275px);
  border: solid rgb(255, 167, 5);
  border-width: 0 5px;
  text-align: center;
}

.input-container {
  display: 'inline-flex';
}

.input {
  width: 170px;
}

.register-text {
  margin-top: 20px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.register{
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.google-logo {
  width: 40px;
  margin-top: 5px;
}

.facebook-logo {
  width: 30px;
  margin-top: 5px;
}

.log-text{
  text-align: left;
  margin-left: 20px;
}

.sn-container {
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 20px;
  height: 50px;
  padding-top: 10px;
}

.sn-table {
  text-align: center;
  width: 250px;
  margin-left: 25px;
  border-spacing:0 15px;
}

.social-login{
  display: inline-block;
  width: 300px;
  text-align: center;
}

@media (max-width: 700px){
  .logo-login {
    width: 100%;
    margin-left: 0px;
  }

  .login-container {
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    text-align: center;
  }

  .input-container {
    display: block;
  }

  .input {
    display: block;
    width: 200px;
    margin-left: calc(50% - 100px)
  }

  .button {
    display: block;
    width: 200px;
    margin-left: 0px;
  }

  .register-text {
    margin-top: 40px;
  }

  .social-login{
    display: inline-block;
    width: 100%;
  }

  .sn-table {
    width: 90%;
    margin-left: 5%;
  }
}