.main-container {
  width: 270px; 
  height: 220px; 
  background-color: white; 
  margin-right: 35px; 
  margin-bottom: 20px; 
  display: inline-block;
  border-radius: 40px;
  border-width: medium;
  border: solid rgb(255, 167, 5);
  text-align: center;
}

.product-image {
  height: 130px;
  max-width: 190px;
  text-align: center;
}

.name-brand {
  font-size: 15px;
  height: 40px;
}

.product-price {
  font-size: 20px;
}

@media (max-width: 1024px){ 
  .main-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}